<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>

<h1>This is the about page of my blog app</h1>
<!--<%= image_tag'midoriya_izuku.jpg' %><br/><br/>-->
<%= link_to 'Home', root_path  %>
<p></p>

</body>
</html>

