<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>

<h1>This is the home page of my blog app</h1>
<%= image_tag'goku_ultra_instinct.png' %><br><br>
<%= link_to 'About', about_path  %>
<p></p>

</body>
</html>

